<table
  class="table table-striped table-sm mt-4 align-middle"
  v-show="!switchList"
  v-for="(item,key) in specifyContent"
  :key="key"
  :data-id="item.id"
>
  <tbody>
    <tr>
      <td>
        {{ item.progress }}
        <button
          type="button"
          class="btn btn-outline-primary btn-sm m-1"
          @click="completeCleaning($event)"
        >
          待取件
        </button>
      </td>
    </tr>
  </tbody>
</table>

getData() { let vm = this; axios .get("http://localhost:3000/posts")
.then((response) => { vm.customer = response.data; console.log(response.data);
}) .catch((error) => console.log(error)); }, completeCleaning(event) { let vm =
this; let id = event.target.dataset.id; axios
.put(`http://localhost:3000/posts/${id}`, { progress: "已完成", })
.then((response) => { console.log(response); }) .catch((error) => {
console.log(error); }); },
